<div class="encabezado t-cover__filter" id="inicio"
        style="height: 50vh; background-image: url('../assets/banner.jpg'); background-size: cover; position: relative; display: flex; justify-content: center; align-items: center;">
        <div class="gradient-overlay"
            style="color: antiquewhite; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-image: -moz-linear-gradient(top, rgba(0, 153, 255, 0.2), rgba(0, 51, 102, 0.3)); background-image: -webkit-linear-gradient(top, rgba(0, 153, 255, 0.2), rgba(0, 51, 102, 0.3)); background-image: -o-linear-gradient(top, rgba(0, 153, 255, 0.2), rgba(0, 51, 102, 0.3)); background-image: -ms-linear-gradient(top, rgba(0, 153, 255, 0.2), rgba(0, 51, 102, 0.3)); background-image: linear-gradient(to bottom, rgba(0, 153, 255, 0.2), rgba(0, 51, 102, 0.3)); filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#003399', endColorstr='#000033'); display: flex; justify-content: center; align-items: center;">
            <div style="max-width: 80%; text-align: center;">
                <h1 class="titulo-principal">Velas Candil</h1>
            </div>
        </div>
    </div>
<div class="separador container-fluid mb-4">
  <div class="col-12">
  </div>
</div>
<app-galeria/>