.img-vela img{
    width: 90%;
    height: 250px;
    border-radius: 5%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    ;
}

.img-vela img:hover{
    opacity: 0.8;
}

.info-vela p {
    width: 100%;
}

h4{
    font-family: "Playwrite NZ", cursive;
    font-style: normal;
}

    