<div class="carrito container d-flex flex-wrap ">
    <div class="title col-12 text-center my-5">
        <h4>Carrito de compras</h4>
    </div>
    <div class="container table-products col-12">
        <table class="table">
            <thead class="py-5">
              <tr>
                <th scope="col">Imagen</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripción</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Precio unitario</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
                @for(producto of carrito.candles; track producto.id){
                    <tr>
                        <td><img src="{{producto.candle.principalImage}}"></td>
                        <td>{{producto.candle.name}}</td>
                        <td class="description-column">{{producto.candle.description}}</td>
                        <td>{{producto.quantity}}</td>
                        <td>{{producto.candle.price}}</td>
                        <td>
                            <button type="button" class="btn btn-success mx-2" 
                                (click)="agregarProducto(producto.candle.id)">Agregar</button>
                            <button type="button" class="btn btn-success mx-2" 
                                (click)="eliminarProducto(producto.candle.id)">Eliminar unidad</button>
                            <button type="button" class="btn btn-danger mx-2" 
                                (click)="eliminarProductos(producto.candle.id)">Eliminar producto</button>
                        </td>
                    </tr>
                }
            </tbody>
          </table>
    </div>
    <div class="info col-12 my-5">
        <div class="total d-flex flex-row align-items-center">
            <p class="mb-0">Total: {{carrito.totalPrice}}</p>
            <div class="buttons">
                <button type="button" class="btn btn-success mx-2">Comprar</button>
                <button type="button" class="btn btn-success mx-2"
                    (click)="home()">Regresar</button>
            </div>
        </div>
    </div>
</div>
