<div class="container my-5 border p-4" style="border-radius: 10px; border: 2px solid #ddd;">
  <h2 class="text-center mb-4">Información de Contacto</h2>
  <div class="row">
    <div class="col-md-6 mb-4">
      <div class="card h-100 text-dark bg-light" style="box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);">
        <div class="card-body">
          <h5 class="card-title">Correo Electrónico</h5>
          <p class="card-text">Puedes contactarnos por correo electrónico para cualquier consulta o pedido.</p>
          <p class="card-text"><strong>Email: </strong> <a href="mailto:contacto@velascandil.com">contactovelascandil.com</a></p>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <div class="card h-100 text-dark bg-light" style="box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);">
        <div class="card-body">
          <h5 class="card-title">Teléfono</h5>
          <p class="card-text">Estamos disponibles para atender tus llamadas durante nuestros horarios de atención.</p>
          <p class="card-text"><strong>Teléfono: </strong> <a href="tel:+123456789">+3228934612</a></p>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <div class="card h-100 text-dark bg-light" style="box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);">
        <div class="card-body">
          <h5 class="card-title">Dirección</h5>
          <p class="card-text">Visítanos en nuestra tienda física para ver nuestra colección completa de velas.</p>
          <p class="card-text"><strong>Dirección:</strong> Calle 137 #152 - 36, Bogotá, Colombia</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <div class="card h-100 text-dark bg-light" style="box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);">
        <div class="card-body">
          <h5 class="card-title">Horario de Atención</h5>
          <p class="card-text">Nuestros horarios de atención son los siguientes:</p>
          <p class="card-text"><strong>Lunes a Viernes:</strong> 9:00 AM - 6:00 PM</p>
          <p class="card-text"><strong>Sábados:</strong> 10:00 AM - 4:00 PM</p>
          <p class="card-text"><strong>Domingos:</strong> Cerrado</p>
        </div>
      </div>
    </div>
  </div>
</div>
